<footer class="footer">
  <div class="container">
    <p class="text-muted">
      &copy; Weather Forecast Webapp - <span id="date"></span>
    </p>
  </div>
</footer>
<script type="text/javascript" src="/js/dateTime.js"></script>